.contain {
    height: 590px;
  }  

#botaoEntrar {
    font-family: inherit;
    background-color: #FF5757;
    color: #FFF480;
    cursor: pointer;
    transition: border-color 0.25s;
}


#botaoCarregar {
    font-family: inherit;
    background-color: #FF5757;
    color: #FFF480;
    cursor: pointer;
    transition: border-color 0.25s;
}
