.contain {
  height: 590px;
}  


#between {
  display: flex;
  justify-content: space-around;
}

#buttonCancel {
  font-family: inherit;
  background-color: #FF5757;
  color: #FFF480;
  cursor: pointer;
  transition: border-color 0.25s;
}

#buttonRegister {
  font-family: inherit;
  background-color: #FF5757;
  color: #FFF480;
  cursor: pointer;
  transition: border-color 0.25s;
}
