#botaoFinalizar{
    margin-top: -3rem;
}


#container-card:hover{
}


#menos:hover,
#mais:hover{

    opacity:0.9;


}

#menos:active,
#mais:active{

    opacity:0.7;


}

#carrinho:active{

    opacity:0.5;

}

#title-product{

    width:320px;
    height: 72px;
}

#image{

    object-fit:contain;
    max-width:150;
    max-height:150;
}

.botao{
    margin-right: 4rem;
    margin-top: -22px;
}

.total{
    margin-right: -22rem;
    font-weight: 400;
}

#options{
 font-weight: bold;
 margin-bottom: -3rem;
 display: flex;
 margin-right: 24px;
 justify-content: center;
}

#h22{
    margin-right: 8rem;
}



body{
    background-color: #FFF480;
}

#tamanhoCont{
    width: 53rem;
    height: 35rem;
    margin-left: 29rem;
    margin-top: -16rem;
}

#dentroCarrinho{
    margin-left: 17rem;
    margin-top: -9rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

#container-cart{

    width:80%;
    margin:0 auto;
}


#cart-text{


    min-width: 448px;
}