#container-card{

    margin:0;
    padding:0;
    box-sizing: border-box;
    height:28rem;
    


}


#container-card:hover{

    box-shadow: 3px 3px 7px rgb(150, 149, 149);  
    border-radius: 10px;

}

#menos:hover,
#mais:hover{

    opacity:0.9;


}

#menos:active,
#mais:active{

    opacity:0.7;


}

#carrinho:active{

    opacity:0.5;

}

#title-product{
    width:320px;
    height: 72px;
}

#image{
    object-fit:contain;
    max-width:170;
    max-height:190;
}